body{
    background-image: url("../assets/bg.jpg");
    background-size: cover;

    font-family: 'Inknut Antiqua', serif;
    color: aliceblue;

    height: 250px;
    width: 400px;   
}

p{
    text-shadow: 5px 5px 5px black;
}

.border-frame{
    background-image: url("../assets/bg-border.png");
    background-size: inherit;

    padding: 20px;

    height: 265px;
}

#character-list{
    width: 315px;
    height: 50px;
    font-size: 12pt;
}

#spark-target-image:hover{
    opacity: 0.8;
}